body {
	background-color: #9d79bc;
	box-sizing: border-box;
	margin: 0;
}

.header {
	width: 100%;
	margin: 0 auto;
	&_modes {
		display: flex;
		justify-content: center;
		button {
			border-radius: 0;
			border: none;
			height: 8vh;
			min-height: 40px;
			font-size: 24px;
			background-color: #7e1f86;
			color: white;
			border: 3px solid #7e1f86;
			&:hover {
				cursor: pointer;
				background-color: #91c4f2;
				border: 3px solid #7e1f86;
			}
		}
	}
}
.activemode {
	background-color: #91c4f2 !important;
	border: 3px solid #7e1f86 !important;
}

.container {
	display: flex;
	justify-content: space-evenly;
	padding-top: 0px;
	margin-top: 0px;
}

.main {
	margin: 0 auto;
	height: 60vh;
	min-height: 450px;
	width: 50vw;
	min-width: 700px;
	background-color: #a14da0;

	&_worddisplay {
		height: 80px;
		background-color: #7e1f86;
		color: white;
		text-align: center;
		font-size: 30px;
		align-content: center;
		h4 {
			padding: 2vh;
		}
	}
	&_wordinput {
		padding-top: 20px;
		text-align: center;
		input {
			margin: 0 auto;
			background-color: #91c4f2;
			text-align: center;
			height: 80px;
			width: 520px;
			font-size: 76px;
			border: none;
		}
	}
	&_startbutton {
		padding-top: 20px;
		text-align: center;
		#startbutton {
			height: 80px;
			width: 500px;
			font-size: 40px;
			background-color: #7e1f86;
			color: white;
			border: none;
			&:hover {
				cursor: pointer;
				background-color: #91c4f2;
				border: 3px solid #7e1f86;
			}
		}
	}
	&_counter {
		text-align: center;
		#timeleftcounter {
			font-size: 80px;
			color: white;
		}
	}
}

.scoreboard {
	margin: 0 auto;
	height: 60vh;
	max-height: 60vh;
	min-height: 450px;
	width: 35vw;
	min-width: 400px;
	background-color: #a14da0;

	&_header {
		height: 80px;
		text-align: center;
		font-size: 30px;

		color: white;
		background-color: #7e1f86;
		h4 {
			padding: 2vh;
		}
	}
	&_score {
		display: flex;
		justify-content: space-evenly;
		color: white;
		background-color: #9d79bc;
		border: 2px solid #a14da0;
	}
}

.inactive {
	display: none;
}

.timesalmostup {
	color: red !important;
	animation: pulsingtimer 1s infinite;
}

.wronganswer {
	animation: shake 1;
	animation-duration: 0.5s;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	border: 3px solid red !important;
}

.rightanswer {
	top: 20vh;
	left: 40vw;
	position: absolute;
	color: white;
	animation: dunder 2s 1;
}

@keyframes dunder {
	0% {
		font-size: 2px;
	}
	80% {
		color: green;
		font-size: 400px;
		transform: rotate(0deg);
		transform: translate(-400px, -400px);
		overflow: hidden;
	}
	100% {
		font-size: 400px;
		transform: rotate(360deg);
		transform: translate(1000px);
		overflow: hidden;
	}
}

@keyframes pulsingtimer {
	30% {
		transform: scale((1.5));
	}
	100% {
		transform: scale(1);
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
